body {
    font-family: 'DM Sans', sans-serif;
}

h1, .h1 {
    font-weight: bold;
    color: green;
    font-size: xx-large;
}
  h2, .h2 {
    font-size: 1.65rem !important;font-family: "helvetica47regularcondensed" !important;  }
  h3, .h3 {
    font-size: 1.45rem !important;font-family: "helvetica47regularcondensed" !important; }
  h4, .h4 {
    font-size: 1.25rem !important; }
  h5, .h5 {
    font-size: 1.15rem !important; }
  h6, .h6 {
    font-size: 1rem !important; }